.popup__close {
    background-image: url(../../../images/CloseIcon.svg);
    position: absolute;
    right: -32px;
    top: -32px;
    
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    padding: 0;
    border: none;
    background: none;
}