.element__button {
    padding: 0;
    background-color: #fff;
    box-shadow: none;
    background-image: url(../../../images/like.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 19px;
    border: none;
    align-self: center;
}

.element__button:hover {
    opacity: 0.5;
    transition: 0.4s;
    cursor: pointer;
}

.element__button:active {
    background-image: url(../../../images/Union.png);
}